:root {
    /* Light theme colours */
    --background-light: #fff;
    --border-light: #bbb;
    --text-light: #333;

    --empty-border-light: #ddd;
    --filled-border-light: #333;

    --modal-background-light: rgba(255, 255, 255, 0.7);
    --modal-shadow-light: rgba(0, 0, 0, 0.3);

    /* Consistent colours */
    --keyboard-background: #eee;
    --keyboard-text-unselected: #333;
    --keyboard-text-selected: #eee;

    --green-color: #5ac85a;
    --grey-color: #a1a1a1;
    --yellow-color: #e2cc68;
}

/* Custom Wordle font */
@font-face {
    font-family: 'NYT Karnak Condensed';
    src: url('/fonts/KarnakPro-CondensedBlack.otf') format('opentype'),
        url('/fonts/KarnakPro-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* General styles */
body {
    text-align: center;
    font-size: 1em;
    font-family: verdana;
    margin: 0 0 0 0;
    height: 100vh;
    transition: all 0.3s ease;
}


.wordle {
    background-color: var(--background-light);
    color: var(--text-light);
    height: 100vh;
}


/* Grid styles */
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
}

.row.current.invalidWord {
    animation: shake 0.4s ease-in-out forwards;
}

.tile {
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--background-light);
    border: 1px solid var(--border-light);
    color: var(--text-light);
    margin: 4px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

.tile.past {
    border: 1px solid var(--filled-border-light);
}

.tile.green {
    --background: var(--green-color);
    --border-color: var(--green-color);
    animation: flip 0.5s ease forwards;
}

.tile.grey {
    --background: var(--grey-color);
    --border-color: var(--grey-color);
    animation: flip 0.5s ease forwards;
}

.tile.yellow {
    --background: var(--yellow-color);
    --border-color: var(--yellow-color);
    animation: flip 0.5s ease forwards;
}

.tile.waterfall {
    animation: up-down 0.5s ease-in-out;
    background: var(--green-color);
    border-color: var(--green-color);
    color: var(--text-dark);
}

.tile:nth-child(2) {
    animation-delay: 0.2s;
}

.tile:nth-child(3) {
    animation-delay: 0.4s;
}

.tile:nth-child(4) {
    animation-delay: 0.6s;
}

.tile:nth-child(5) {
    animation-delay: 0.8s;
}

.tile.filled {
    animation: bounce 0.2s ease-in-out forwards;
}

/* Keyboard styles */
.keyboard {
    max-width: 500px;
    margin: 20px auto;
    user-select: none;
}

.key {
    margin: 5px;
    width: 40px;
    height: 50px;
    background: var(--keyboard-background);
    color: var(--keyboard-text-unselected);
    display: inline-block;
    border-radius: 6px;
    line-height: 50px;
    font-weight: 600;
}

.key.big {
    width: 65px;
}

.key.green {
    background: var(--green-color);
    color: var(--keyboard-text-selected);
    transition: all 0.3s ease-in;
}

.key.yellow {
    background: var(--yellow-color);
    color: var(--keyboard-text-selected);
    transition: all 0.3s ease-in;
}

.key.grey {
    background: var(--grey-color);
    color: var(--keyboard-text-selected);
    transition: all 0.3s ease-in;
}


/* Modal styles */
.modal {
    background: var(--modal-background-light);
    color: var(--text-light);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal>div {
    max-width: 480px;
    background: var(--background-light);
    padding: 40px;
    border-radius: 10px;
    margin: 10% auto;
    box-shadow: 2px 2px 10px var(--modal-shadow-light);
}

.modal.solution {
    color: var(--text-light);
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Navabr styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-light);
    color: var(--text-light);
    border-bottom: 1px solid var(--border-light);
}

h1 {
    font-size: 3em;
    font-family: 'NYT Karnak Condensed';
    margin: 0 0 0 0;
    flex-grow: 1;
    text-align: center;
    cursor: default;
    user-select: none;
}

.menu-icon,
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    justify-content: center;
    scale: 1.2;
    color: primary;
}

.mui-icon {
    background-color: transparent;
    border-color: transparent;
}

/* Invalid pop-up */
.invalid-popup {
    order: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-light);
    border: 0.5px solid var(--filled-border-light);
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.invalid-popup.visible {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


/* Cursor styles */
.hover-clickable {
    cursor: pointer;
}