/* Dark theme styles */
:root {
    --background-dark: #333;
    --border-dark: #555;
    --text-dark: #eee;

    --modal-background-dark: rgba(0, 0, 0, 0.3);
    --shadow-dark: 2px 2px 10px rgba(0, 0, 0, 0.3);

    --empty-border-dark: #ddd;
    --filled-border-dark: #ddd;
}


/* General styles */
.wordle.dark {
    background-color: var(--background-dark);
}


/* Grid styles */
.tile.dark {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
    color: var(--text-dark);
}

.tile.filled.dark {
    border-color: var(--filled-border-dark);
    color: var(--text-dark);
}

.tile.past.dark {
    border: 1px solid var(--filled-border-dark);
    --color: var(--text-dark);
}


/* Modal styles */
.modal-overlay.dark {
    background: var(--modal-background-dark);
}

.modal-content.dark {
    background: var(--background-dark);
    color: var(--text-dark);
    box-shadow: var(--shadow-dark);
}

.modal-content.dark hr {
    border-top: 0.5px solid var(--empty-border-dark);
}

.modal-content.dark h2 {
    color: var(--text-dark);
}

.modal-exit-button.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}


/* Navbar styles */
.navbar.dark {
    background-color: var(--background-dark);
    /* color: var(--text-dark); */
}

.social-icons.dark,
.icons.dark,
.title.dark {
    color: var(--text-dark);
}


/* Invalid pop-up */
.invalid-popup.dark {
    background-color: var(--background-dark);
    box-shadow: var(--shadow-dark);
    color: var(--text-dark);
}


/* Dropdown menu */
.dropdown-menu.dark {
    background-color: var(--background-dark);
    box-shadow: var(--shadow-dark);
}

.dropdown-item.dark {
    background-color: var(--background-dark);
    color: var(--text-dark)
}

.dropdown-item.current.dark {
    background-color: var(--grey-color);
}

.dropdown-item.dark:hover {
    background-color: var(--hover-background);
}

/* Footer */
.footer.dark {
    background-color: var(--background-dark);
    color: var(--text-dark)
}