/* Keyframe animations */
@keyframes flip {
    0% {
        transform: rotateX(0);
        background-color: inherit;
        border-color: inherit;
        color: var(--color);
    }

    45% {
        transform: rotateX(90deg);
        background-color: inherit;
        border-color: inherit;
        color: var(--color);
    }

    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--keyboard-text-selected);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--keyboard-text-selected);
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        border-color: inherit;
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-4px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(6px);
    }
}

@keyframes waterfall {

    0%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-50px);
    }

    80% {
        transform: translateY(10px);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

@keyframes memojiWave {

    0%,
    25%,
    50%,
    75%,
    100% {
        transform: rotate(0deg);
    }

    12.5%,
    87.5% {
        transform: rotate(-10deg);
    }

    37.5%,
    62.5% {
        transform: rotate(10deg);
    }
}